body {
    background-color: #171717;
}

h1 {
	color: #3B97F3;

}

body {
    font-family: "Tahoma", Geneva, sans-serif 
    thick 
    font-weight: bold
}

.title {

color: #3B97F3;
}

font-family: "Times New Roman", Times, serif;

.btn-default
{
background-color: #3B97F3;
color: #3B97F3;
}
#colored{
background-color: #3B97F3;	
}